#include   <resource.h>
#define ICO_MAIN             0x1000

#define IDB_TOOLBAR1         0x1001
#define IDB_TOOLBAR2         0x1002
#define IDB_TIGER            0x1003
#define IDB_BOY              0x1012
#define IDB_GIRL             0x1013
#define IDB_MANAGER          0x1016
#define IDB_ALL              0x1017


#define IDM_MAIN             0x2000
#define IDA_MAIN             0x2000

#define IDM_NEW              0x4101
#define IDM_OPEN             0x4102
#define IDM_SAVE             0x4103
#define IDM_SAVEAS           0x4104
#define IDM_PRINT            0x4105
#define IDM_PAGESETUP        0x4106
#define IDM_EXIT             0x4107

#define IDM_UNDO             0x4201
#define IDM_REDO             0x4202
#define IDM_SELALL           0x4203
#define IDM_COPY             0x4204
#define IDM_CUT              0x4205
#define IDM_PASTE            0x4206
#define IDM_GO               0x4207
#define IDM_FIND             0x4208
#define IDM_REPLACE          0x4209
#define IDM_FINDPREV         0x4210
#define IDM_FINDNEXT         0x4211

#define IDM_SETFONT          0x4301
#define IDM_SETCOLOR         0x4302
#define IDM_INACT            0x4303
#define IDM_GRAY             0x4304
#define IDM_BIG              0x4305
#define IDM_SMALL            0x4306
#define IDM_LIST             0x4307
#define IDM_DETAIL           0x4308
#define IDM_TOOLBAR          0x4309
#define IDM_TOOLBARTEXT      0x4310
#define IDM_INPUTBAR         0x4311
#define IDM_STATUSBAR        0x4312
#define IDM_TRANSPARENT      0x4313

#define IDM_RES              0x4401
#define IDM_COMPILE          0x4402
#define IDM_LINK             0x4403
#define IDM_RUN              0x4404
#define IDM_COMPILEALL       0x4405

#define IDM_TERMINATE        0x4501
#define IDM_EXECUTE          0x4502
#define IDM_IPPORT           0x4503
#define IDM_TOPWINDOW        0x4504
#define IDM_MODULE           0x4505
#define IDM_REGISTRY         0x4506
#define IDM_SHUTDOWN         0x4507
#define IDM_REBOOT           0x4508

#define IDM_AUDIOSTART       0x7601
#define IDM_AUDIOPAUSE       0x7602
#define IDM_AUDIOSTOP        0x7603
#define IDM_AUDIOPLAY        0x7604

#define IDM_CHATSERVER       0x8001
#define IDM_CHATCLIENT       0x8002
#define IDM_PORTSCAN         0x8003
#define IDM_FTPSERVER        0x8004
#define IDM_FTPCLIENT        0x8005
#define IDM_TELNETSERVER     0x8006
#define IDM_HTTPFILTER       0x8007


#define IDM_HELP             0x5001
#define IDM_ABOUT            0x5102



#define PROCESSDLG_KILL      0x4111
#define IDC_PROCESS          0x4112
#define IDC_REFRESH          0x4113
#define IDC_PROCESS_MODEL    0x4114

#define DLGExec_MAIN         0x4120
#define ID_BROWSE            0x4121
#define ID_RUN               0x4122
#define ID_EXIT              0x4123
#define ID_TEXT              0x4124
#define ID_STATIC            0x4125
#define ID_RESULT            0x4126
#define ID_CONSOLE           0x4127

#define PROCESSDLG_TOPWIN    0x4131
#define IDC_CLOSEWIN         0x4132
#define IDC_REFRESHW         0x4133
#define IDC_WINTABLE         0x4134
#define IDC_TOPWINHIDE       0x4135
#define IDC_TOPWINSHOW       0x4136

#define PROCESSDLG_MODULE    0x4141
#define IDC_MODULELIST       0x4142
#define IDC_REFRESHM         0x4143
#define IDC_MODULETABLE      0x4144

#define GOTODLG              0x4151
#define IDC_LINENUMBER       0x4152
#define IDC_GOTOLINE         0x4153
#define IDC_CANCLE           0x4154

#define REGDLG_STARTUP       0x4161
#define IDC_STARTUPTABLE     0x4162
#define IDC_STARTUPDEL       0x4163
#define IDC_STARTUPRESH      0x4164

#define REGDLG_IE            0x4171
#define IDC_SETIEADDR        0x4172
#define IDC_DISABLEIEADDR    0x4173
#define IDC_RESETIE          0x4174
#define IDC_IEADDR           0x4175
#define IDC_DISABLEPROXY     0x4176
#define IDC_USEPROXY         0x4177
#define IDC_IEGROUP          0x4178
#define IDC_STATICIE1        0x4179
#define IDC_STATICIE2        0x4611
#define IDC_PROXYIP          0x4612
#define IDC_PROXYPORT        0x4613
#define IDC_SETPROXY         0x4614

#define REGDLG_SERVICE       0x4181
#define IDC_SERVICETABLE     0x4182
#define IDC_SERVICEDEL       0x4183
#define IDC_SERVICESTOP      0x4184
#define IDC_SERVICERUN       0x4185
#define IDC_SERVICERESH      0x4186

#define REGDLG_AUTOLOGIN     0x4191
#define IDC_LOGINENABLED     0x4192
#define IDC_LOGINLIST        0x4193
#define IDC_LOGINUSERNAME    0x4194
#define IDC_LOGINPASSWORD    0x4195
#define IDC_AUTOLOGIN        0x4196
#define IDC_STATICLOGIN1     0x4197
#define IDC_STATICLOGIN2     0x4198
#define IDC_LOGINGROUP       0x4199
#define IDC_STATICLOGIN3     0x4601
#define IDC_LOGINDOMAIN      0x4602

#define PROCESSDLG_IPPORT    0x4701
#define IDC_PORTTABLE        0x4702
#define IDC_REFRESHPORT      0x4703
#define IDC_CLOSEPORT        0x4704
#define IDC_PORTOFF          0x4705


#define NET_CHATSERVER       0x4801
#define IDC_CHATUSERS        0x4802
#define IDC_FILTERWINDOW     0x4803
#define IDC_CHATOBJECT       0x4804
#define IDC_CHATMESSAGE      0x4805
#define IDC_SENDMESSAGE      0x4806
#define IDC_PRIVACY          0x4807
#define IDC_TOTALUSERS       0x4808
#define IDC_KICKDOWN         0x4809
#define IDC_APPLYMIC         0x4810
#define IDC_SETFILTER        0x4811
#define IDC_DISABLEIP        0x4812
#define IDC_MUTENOW          0x4813
#define IDC_BROADCAST        0x4814
#define IDC_STOPSERVICE      0x4820

#define NET_CHATCLIENT       0x4901
#define IDC_SERVERIP         0x4902
#define IDC_NICKNAME         0x4903
#define IDC_SEXY             0x4904
#define IDC_CONNECTTOSERVER  0x4905
#define IDC_PUBLICMESSAGE    0x4907
#define IDC_PRIVACYMESSAGE   0x4908
#define IDC_MICSONLINE       0x4909
#define IDC_CHATTO           0x4910
#define IDC_SENDCONTENTS     0x4911
#define IDC_PRIVACYTALK      0x4912
#define IDC_TALKMESSAGE      0x4913
#define IDC_TOTALUSER        0x4914
#define IDC_USERSLIST        0x4915

#define NET_PORTSCAN         0x6000
#define IDC_IP               0x6001
#define IDC_FROMIP           0x6002
#define IDC_TOIP             0x6003
#define IDC_RETRIES          0x6004
#define IDC_STARTSCAN        0x6005
#define IDC_STOPSCAN         0x6006
#define IDC_SCANRESULT       0x6007
#define IDC_SCANSUBPROCESS   0x6008
#define IDC_SCANPROCESS      0x6009
#define IDC_SINGLEPORT       0x6010
#define IDC_MULTIPORT        0x6011
#define IDC_ESINGLEPORT      0x6012
#define IDC_EMULTIPORTMIN    0x6013
#define IDC_EMULTIPORTMAX    0x6014

#define VIEWDLG_TRANSPARENT  0x5200
#define IDC_TRANSPARENT      0x5201
#define IDC_TRANSPARENTOK    0x5202

#define NET_TELNETSERVER     0x5300
#define IDC_LOCALHOST        0x5301
#define IDC_REMOTEHOST       0x5302
#define IDC_REMOTEIP         0x5303
#define IDC_REMOTEPORT       0x5304
#define IDC_REMOTEUSER       0x5305
#define IDC_REMOTEPASS       0x5306
#define IDC_INSTALLBACKDOOR  0x5307
#define IDC_REMOVEBACKDOOR   0x5308

#define NET_IPFILTER         0x5400
#define IDC_STARTCAPTURE     0x5401
#define IDC_FILTERTABLE      0x5402
#define IDC_TOTALRECEIVED    0x5403
#define IDC_TOTALDEALED      0x5404
#define IDC_FILTERCONTENT    0x5405
#define IDC_SAVETOFILE       0x5406
#define IDC_BUFFERPROCESS    0x5407
#define IDC_FILTERPORT       0x5408
 
ICO_MAIN     ICON  "LOMPSTER.ICO"
IDB_TOOLBAR1 BITMAP "toolbar1.bmp"
IDB_TOOLBAR2 BITMAP "toolbar2.bmp"
IDB_TIGER    BITMAP "tiger.bmp"
IDB_BOY      BITMAP "boy.bmp"
IDB_GIRL     BITMAP "girl.bmp"
IDB_MANAGER  BITMAP "manager.bmp"
IDB_ALL      BITMAP "all.bmp"

IDM_MAIN    menu      discardable
BEGIN 
    popup    "文件(&F)"
    BEGIN
	menuitem	"新建文件(&N)...\tCtrl+N",	IDM_NEW
	menuitem	"打开文件(&O)...\tCtrl+O",	IDM_OPEN
	menuitem	"保存文件(&S)\tCtrl+S",		IDM_SAVE
	menuitem	"文件另存为(&A)...\tCtrl+Alt+S",IDM_SAVEAS
	menuitem	separator
	menuitem	"打印 ",	              	IDM_PRINT
	menuitem	"页面设置(&P)...",		IDM_PAGESETUP
	menuitem	separator
	menuitem	"退出(&X)\tAlt+X",		        IDM_EXIT
    END
    popup    "编辑(&E)"
    BEGIN
	menuitem	"撤销(&Z)\tCtrl+Z",	IDM_UNDO
	menuitem	"重复(&Y)\tCtrl+Y",	IDM_REDO
	menuitem	separator
	menuitem	"全选(&A)\tCtrl+A",	IDM_SELALL
	menuitem	"复制(&C)\tCtrl+C",	IDM_COPY
	menuitem	"剪切(&X)\tCtrl+X",	IDM_CUT
	menuitem	"粘贴(&V)\tCtrl+V",	IDM_PASTE
	menuitem	separator
        menuitem        "转到(&G)\tCtrl+G",     IDM_GO
	menuitem	"查找(&F)...\tCtrl+F",	IDM_FIND
        menuitem        "替换(&H)...\tCtrl+H",  IDM_REPLACE
	menuitem	"查找上一个(&P)\tF2",   IDM_FINDPREV
	menuitem	"查找下一个(&N)\tF3",   IDM_FINDNEXT
    END
    popup    "查看(&V)"
    BEGIN
      menuitem    "字体(&F)...\tAlt+F",IDM_SETFONT
      menuitem    "背景色(&B)...\tCtrl+Alt+B",IDM_SETCOLOR
      menuitem    separator
      menuitem    "被禁用的菜单项",IDM_INACT,INACTIVE
      menuitem    "被灰化的菜单项",IDM_GRAY,GRAYED
      menuitem    separator
      menuitem    "大图标(&G)",IDM_BIG
      menuitem    "小图标(&M)",IDM_SMALL
      menuitem    "列表(&L)",IDM_LIST
      menuitem    "详细资料(&D)",IDM_DETAIL
      menuitem    separator
      popup    "工具栏(&T)"
      BEGIN
        menuitem    "标准按钮(&S)",IDM_TOOLBAR
        menuitem    "文字标签(&C)",IDM_TOOLBARTEXT
        menuitem    "命令栏(&I)",IDM_INPUTBAR
      END
      menuitem    "状态栏(&U)...",IDM_STATUSBAR
      menuitem    separator
      menuitem    "窗口透明度(&T)...",IDM_TRANSPARENT
    END
    popup "编译(&C)"
    BEGIN
      menuitem    "生成资源文件(&S)...",IDM_RES
      menuitem    "编译(&C)...",IDM_COMPILE
      menuitem    "链接(&L)...",IDM_LINK
      menuitem    "运行(&R)...\tCtrl+F5",IDM_RUN
      menuitem    separator
      menuitem    "执行一条龙\tF9",IDM_COMPILEALL
    END
    popup "进程工具(&F)"
    BEGIN
      menuitem    "进程列表(&L)...\tCtrl+Alt+F1",IDM_TERMINATE
      menuitem    "运行命令(&C)...\tCtrl+Alt+F2",IDM_EXECUTE
      menuitem    "开放端口(&P)...\tCtrl+P",IDM_IPPORT
      menuitem    "顶层窗口(&T)...\tCtrl+Alt+F4",IDM_TOPWINDOW
      menuitem    "模块列表(&C)...\tCtrl+Alt+F5",IDM_MODULE
      menuitem    separator
      menuitem    "系统配置(&R)...\tCtrl+R",IDM_REGISTRY
      menuitem    separator
      menuitem    "关闭系统(&D)\tCtrl+D",IDM_SHUTDOWN
      menuitem    "重新启动计算机(&B)\tCtrl+B",IDM_REBOOT
    END
    popup "音视频工具(&A)"
    BEGIN
      menuitem    "录音(&R)...\tCtrl+Alt+F6",IDM_AUDIOSTART
      menuitem    "暂停录音(&P)...\tCtrl+Alt+F7",IDM_AUDIOPAUSE
      menuitem    "结束录音(&S)...\tCtrl+Alt+F8",IDM_AUDIOSTOP
      menuitem    "播放(&P)",IDM_AUDIOPLAY
    END
    popup "网络工具(&N)"
    BEGIN
      menuitem    "对话服务器(&C)...\tCtrl+Alt+C",IDM_CHATSERVER
      menuitem    "对话客户(&D)...\tCtrl+Alt+L",IDM_CHATCLIENT
      menuitem    separator
      menuitem    "简单FTP服务器(&F)...\tCtrl+Alt+F8",IDM_FTPSERVER
      menuitem    "FTP客户",IDM_FTPCLIENT
      menuitem    separator
      menuitem    "端口扫描(&S)...\tCtrl+P",IDM_PORTSCAN
      menuitem    "TELNET服务后门(&T)...\tCtrl+T",IDM_TELNETSERVER
      menuitem    "IP包捕获...",IDM_HTTPFILTER
    END

    POPUP "帮助(&H)",HELP
    BEGIN
      menuitem    "帮助主题(&H)\tF1",IDM_HELP
      menuitem    separator
      menuitem    "关于本程序(&A)...",IDM_ABOUT
    END
END

IDA_MAIN  accelerators
BEGIN
    VK_F1,  IDM_HELP,VIRTKEY
    VK_F2,  IDM_FINDPREV,VIRTKEY
    VK_F3,  IDM_FINDNEXT,VIRTKEY
    "B",    IDM_SETCOLOR,VIRTKEY,CONTROL,ALT
    "G",    IDM_GO,VIRTKEY,CONTROL
    "F",    IDM_SETFONT,VIRTKEY,ALT
    "N",    IDM_NEW,VIRTKEY,CONTROL
    "S",    IDM_SAVE,VIRTKEY,CONTROL
    "S",    IDM_SAVEAS,VIRTKEY,CONTROL,ALT
    "S",    IDM_SAVEAS,VIRTKEY,CONTROL,SHIFT
    "P",    IDM_SAVEAS,VIRTKEY,CONTROL,SHIFT
    "P",    IDM_PORTSCAN,VIRTKEY,CONTROL
    "R",    IDM_SAVEAS,VIRTKEY,CONTROL,SHIFT
    "Z",    IDM_UNDO,VIRTKEY,CONTROL
    "Y",    IDM_REDO,VIRTKEY,CONTROL
    "A",    IDM_SELALL,VIRTKEY,CONTROL
    "C",    IDM_CHATSERVER,VIRTKEY,CONTROL,ALT
    "L",    IDM_CHATCLIENT,VIRTKEY,CONTROL,ALT
    "C",    IDM_COPY,VIRTKEY,CONTROL
    "X",    IDM_CUT,VIRTKEY,CONTROL
    "V",    IDM_PASTE,VIRTKEY,CONTROL
    "F",    IDM_FIND,VIRTKEY,CONTROL
    "H",    IDM_REPLACE,VIRTKEY,CONTROL
    "O",    IDM_OPEN,VIRTKEY,CONTROL
    "X",    IDM_EXIT,VIRTKEY,ALT
    "D",    IDM_SHUTDOWN,VIRTKEY,CONTROL
    "B",    IDM_REBOOT,VIRTKEY,CONTROL
    "T",    IDM_TELNETSERVER,VIRTKEY,CONTROL
    VK_F1,  IDM_TERMINATE,VIRTKEY,CONTROL,ALT
    VK_F2,  IDM_EXECUTE,VIRTKEY,CONTROL,ALT
    VK_F6,  IDM_AUDIOSTART,VIRTKEY,CONTROL,ALT
    VK_F7,  IDM_AUDIOPAUSE,VIRTKEY,CONTROL,ALT
    VK_F8,  IDM_AUDIOSTOP,VIRTKEY,CONTROL,ALT
    "P",    IDM_IPPORT,VIRTKEY,CONTROL
    VK_F4,  IDM_TOPWINDOW,VIRTKEY,CONTROL,ALT
    VK_F5,  IDM_MODULE,VIRTKEY,CONTROL,ALT
    "R",    IDM_REGISTRY,VIRTKEY,CONTROL
    VK_F9,  IDM_COMPILEALL,VIRTKEY
    VK_F5,  IDM_RUN,VIRTKEY,CONTROL
END

PROCESSDLG_KILL DIALOG 76,10,400,280
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "进程列表管理"
FONT 9,"宋体"
BEGIN
  LISTBOX IDC_PROCESS,8,5,100,250,LBS_STANDARD | LBS_SORT
  LISTBOX IDC_PROCESS_MODEL,112,5,280,250,LBS_STANDARD | LBS_SORT
  PUSHBUTTON "刷新(&R)",IDC_REFRESH,250,260,45,14
  DEFPUSHBUTTON "终止(&T)",IDOK,300,260,45,14,BS_DEFPUSHBUTTON |WS_DISABLED |WS_TABSTOP
END

DLGExec_MAIN DIALOG 76,10,480,200
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "执行程序"
FONT 9,"宋体"
BEGIN
  LTEXT "请选择要执行的文件：",ID_STATIC,10,13,200,8
  EDITTEXT ID_TEXT,90,10,300,14
  CHECKBOX "控制台程序",ID_CONSOLE,10,30,100,14
  PUSHBUTTON "浏览(&B)",ID_BROWSE,400,10,45,14
  DEFPUSHBUTTON "运行(&R)",ID_RUN,350,50,45,14,BS_DEFPUSHBUTTON |WS_DISABLED |WS_TABSTOP
  PUSHBUTTON "退出(&T)",ID_EXIT,400,50,45,14
  EDITTEXT  ID_RESULT,10,70,435,120,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE
END

PROCESSDLG_TOPWIN DIALOG 76,10,400,280
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "系统顶级窗口管理"
FONT 9,"宋体"
BEGIN
  CONTROL "", IDC_WINTABLE, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 5, 380, 250
  PUSHBUTTON "刷新(&R)",IDC_REFRESHW,160,260,45,14
  DEFPUSHBUTTON "关闭(&T)",IDC_CLOSEWIN,210,260,45,14
  PUSHBUTTON "隐藏(&H)",IDC_TOPWINHIDE,255,260,45,14,BS_DEFPUSHBUTTON |WS_DISABLED |WS_TABSTOP
  PUSHBUTTON "重新显示(&S)",IDC_TOPWINSHOW,305,260,60,14
END

PROCESSDLG_IPPORT DIALOG 76,10,400,280
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "系统进程与端口关联窗口"
FONT 9,"宋体"
BEGIN
  CONTROL "", IDC_PORTTABLE, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 5, 380, 250
  PUSHBUTTON "刷新(&R)",IDC_REFRESHPORT,200,260,45,14
  PUSHBUTTON "关闭端口(&S)",IDC_PORTOFF,250,260,65,14
  DEFPUSHBUTTON "关闭进程(&T)",IDC_CLOSEPORT,320,260,65,14,BS_DEFPUSHBUTTON |WS_DISABLED |WS_TABSTOP
END

PROCESSDLG_MODULE DIALOG 76,10,400,280
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "模块与进程"
FONT 9,"宋体"
BEGIN
  LISTBOX IDC_MODULELIST,8,5,100,250,LBS_STANDARD | LBS_SORT
  CONTROL "", IDC_MODULETABLE, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 112,5,280,242
  PUSHBUTTON "刷新(&R)",IDC_REFRESHM,300,260,45,14
END

VIEWDLG_TRANSPARENT DIALOG 200,95,200,100
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "窗口透明度"
FONT 9,"宋体"
BEGIN
  CONTROL "",IDC_TRANSPARENT,"msctls_trackbar32",TBS_AUTOTICKS |TBS_BOTH | WS_TABSTOP | WS_EX_DLGMODALFRAME | WS_EX_STATICEDGE,10,20,150,30
  PUSHBUTTON "确定(&D)",IDC_TRANSPARENTOK,100,80,40,14
END


REGDLG_STARTUP DIALOG 76,95,400,280
STYLE WS_POPUP | WS_DISABLED | WS_CAPTION | WS_SYSMENU
CAPTION "启动项目"
FONT 9,"宋体"
BEGIN
  CONTROL "", IDC_STARTUPTABLE, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 5, 380, 250
  PUSHBUTTON "删除(&D)",IDC_STARTUPDEL,300,260,45,14
  PUSHBUTTON "刷新(&R)",IDC_STARTUPRESH,350,260,45,14
END

REGDLG_IE DIALOG 76,95,400,280
STYLE WS_POPUP | WS_DISABLED | WS_CAPTION | WS_SYSMENU
CAPTION "IE设置"
FONT 9,"宋体"
BEGIN
  LTEXT "请输入主页地址：",ID_STATIC,10,13,100,8
  EDITTEXT IDC_IEADDR,75,10,250,14
  PUSHBUTTON "更改(&U)",IDC_SETIEADDR,340,10,45,14
  CHECKBOX "禁止用户更改默认主页地址",IDC_DISABLEIEADDR,10,30,120,14
  CHECKBOX "禁止用户更改代理设置",IDC_DISABLEPROXY,10,50,120,14
  CHECKBOX "使用代理服务器",IDC_USEPROXY,10,80,120,14
  GROUPBOX "所有协议使用同一设置",IDC_IEGROUP,10,100,385,60
  LTEXT "代理服务器IP：",IDC_STATICIE1,15,115,55,8
  EDITTEXT IDC_PROXYIP,70,115,150,14
  LTEXT "端口：",IDC_STATICIE2,230,115,30,8
  EDITTEXT IDC_PROXYPORT,265,115,120,14
  PUSHBUTTON "确定(&O)",IDC_SETPROXY,340,138,45,14
  PUSHBUTTON "重置IE浏览器设置(&R)",IDC_RESETIE,300,260,90,14
END

REGDLG_SERVICE DIALOG 76,95,400,280
STYLE WS_POPUP | WS_DISABLED | WS_CAPTION | WS_SYSMENU
CAPTION "系统服务"
FONT 9,"宋体"
BEGIN
  CONTROL "", IDC_SERVICETABLE, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 5, 380, 250
  PUSHBUTTON "刷新(&R)",IDC_SERVICERESH,200,260,45,14
  PUSHBUTTON "运行(&E)",IDC_SERVICERUN,250,260,45,14
  PUSHBUTTON "停止(&S)",IDC_SERVICESTOP,300,260,45,14
  PUSHBUTTON "删除(&D)",IDC_SERVICEDEL,350,260,45,14
END

REGDLG_AUTOLOGIN DIALOG 76,95,400,280
STYLE WS_POPUP | WS_DISABLED | WS_CAPTION | WS_SYSMENU
CAPTION "自动登录"
FONT 9,"宋体"
BEGIN
  CHECKBOX "设置为开机自动登录",IDC_LOGINENABLED,10,10,120,14
  GROUPBOX "登录设置",IDC_LOGINGROUP,9,30,385,225
  LISTBOX IDC_LOGINLIST,15,45,370,120,LBS_STANDARD | LBS_SORT
  LTEXT "用户名：",IDC_STATICLOGIN1,15,170,35,8
  EDITTEXT IDC_LOGINUSERNAME,55,170,80,14
  LTEXT "密码：",IDC_STATICLOGIN2,140,170,30,8
  EDITTEXT IDC_LOGINPASSWORD,170,170,100,14
  LTEXT "域：",IDC_STATICLOGIN3,272,170,20,8
  EDITTEXT IDC_LOGINDOMAIN,303,170,80,14
  PUSHBUTTON "设置(&R)",IDC_AUTOLOGIN,340,200,45,14
END

GOTODLG DIALOG 76,95,150,50
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "转到"
FONT 9,"宋体"
BEGIN
  LTEXT "转到：",-1,8,5,30,14
  EDITTEXT IDC_LINENUMBER,38,5,50,14
  DEFPUSHBUTTON "确 定",IDC_GOTOLINE,90,5,50,14,BS_DEFPUSHBUTTON |WS_DISABLED |WS_TABSTOP
  PUSHBUTTON "取 消",IDC_CANCLE,90,20,50,14
END

NET_CHATSERVER DIALOG 100,10,500,350
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "会话服务"
FONT 9,"宋体"
BEGIN
  LTEXT "您是：系统管理员",-1,10,10,100,8
  CONTROL "", IDC_CHATUSERS, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 22, 380, 120
  EDITTEXT  IDC_FILTERWINDOW,10,145,380,80,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE

  EDITTEXT  IDC_CHATMESSAGE,12,270,376,30,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE

  LTEXT "对",-1,12,242,20,8
  COMBOBOX IDC_CHATOBJECT,30,240,100,100,CBS_DROPDOWNLIST |WS_TABSTOP
  LTEXT " ",-1,130,242,100,8
  PUSHBUTTON "发送(&U)",IDC_SENDMESSAGE,150,240,45,14
  CHECKBOX "私聊",IDC_PRIVACY,300,240,80,14
  GROUPBOX "对话信息",-1,10,230,380,80,BS_GROUPBOX

  LTEXT "该会话室最多允许100人同时在线,目前已经有",-1,10,330,200,8
  LTEXT "个用户",-1,250,330,100,8
  LTEXT "000",IDC_TOTALUSERS,215,330,30,8

  PUSHBUTTON "踢 下 线",IDC_KICKDOWN,420,20,60,14
  PUSHBUTTON "交付麦克",IDC_APPLYMIC,420,40,60,14
  PUSHBUTTON "过滤监控",IDC_SETFILTER,420,60,60,14
  PUSHBUTTON "封杀地址",IDC_DISABLEIP,420,80,60,14
  PUSHBUTTON "暂时禁言",IDC_MUTENOW,420,100,60,14
  PUSHBUTTON "发送通告",IDC_BROADCAST,420,120,60,14
  PUSHBUTTON "停止服务",IDC_STOPSERVICE,420,140,60,14

  CONTROL IDB_TIGER,-1,"Static",SS_BITMAP |WS_CHILD |WS_VISIBLE,420,250,86,89
END

NET_CHATCLIENT DIALOG 100,10,500,350
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "会话客户"
FONT 9,"宋体"
BEGIN

  GROUPBOX "",-1,10,2,480,24,BS_GROUPBOX
  LTEXT "服务器IP地址：",-1,12,10,100,14
  EDITTEXT IDC_SERVERIP,80,8,80,14
  LTEXT "昵名：",-1,170,10,40,14
  EDITTEXT IDC_NICKNAME,200,8,80,14
  CHECKBOX "男",IDC_SEXY,320,8,20,14
  PUSHBUTTON "连 接",IDC_CONNECTTOSERVER,360,8,50,14


  CONTROL "", IDC_USERSLIST, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | LVS_REPORT | WS_TABSTOP, 10,30,100,202
  EDITTEXT  IDC_PUBLICMESSAGE,110,30,330,120,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE
  EDITTEXT  IDC_PRIVACYMESSAGE,110,155,330,77,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE
  LISTBOX IDC_MICSONLINE,440,30,50,215,LBS_STANDARD | LBS_SORT


  GROUPBOX "对话信息",-1,10,240,480,80,BS_GROUPBOX
  LTEXT "对",-1,12,252,20,8
  COMBOBOX IDC_CHATTO,30,250,100,100,CBS_DROPDOWNLIST |WS_TABSTOP
  LTEXT " ",-1,130,252,100,8
  PUSHBUTTON "发送(&U)",IDC_SENDCONTENTS,150,250,45,14
  CHECKBOX "私聊",IDC_PRIVACYTALK,300,250,80,14
  EDITTEXT  IDC_TALKMESSAGE,12,270,470,45,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE

  LTEXT "该会话室最多允许100人同时在线,目前已经有",-1,10,330,200,8
  LTEXT "个用户",-1,250,330,100,8
  LTEXT "000",IDC_TOTALUSER,215,330,30,8
END

NET_PORTSCAN DIALOG 76,10,400,280
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "端口扫描"
FONT 9,"宋体"
BEGIN

  GROUPBOX "",-1,10,2,380,120,BS_GROUPBOX
  GROUPBOX "IP地址",-1,12,10,120,80,BS_GROUPBOX
  GROUPBOX "端口",-1,140,10,245,80,BS_GROUPBOX

  LTEXT "从：",-1,20,25,20,14
  EDITTEXT IDC_FROMIP,40,25,80,14 
  LTEXT "到：",-1,20,60,20,14
  EDITTEXT IDC_TOIP,40,60,80,14

  AUTORADIOBUTTON "单一端口",IDC_SINGLEPORT,148,25,50,14,WS_TABSTOP
  EDITTEXT IDC_ESINGLEPORT,215,25,60,14
  AUTORADIOBUTTON "一组端口",IDC_MULTIPORT,148,60,50,14,WS_TABSTOP
  LTEXT "从",-1,200,63,20,14
  EDITTEXT IDC_EMULTIPORTMIN,215,60,60,14
  LTEXT "到",-1,280,63,20,14
  EDITTEXT IDC_EMULTIPORTMAX,300,60,60,14

  LTEXT "重试次数：",-1,20,103,50,14
  EDITTEXT IDC_RETRIES,70,100,170,14
  PUSHBUTTON "开 始",IDC_STARTSCAN,280,100,50,14
  PUSHBUTTON "停 止",IDC_STOPSCAN,335,100,50,14


  CONTROL "", IDC_SCANRESULT, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | LVS_REPORT | WS_TABSTOP, 10,125,380,105

  LTEXT "分进度：",-1,10,240,50,14
  CONTROL "", IDC_SCANSUBPROCESS, "msctls_progress32", PBS_SMOOTH |WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60,240,330,14
  LTEXT "总进度：",-1,10,260,50,14
  CONTROL "", IDC_SCANPROCESS, "msctls_progress32", PBS_SMOOTH |WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60,260,330,14
END

NET_TELNETSERVER DIALOG 76,10,400,220
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "TELNET服务后门管理"
FONT 9,"宋体"
BEGIN

  AUTORADIOBUTTON "本地",IDC_LOCALHOST,10,10,50,14,WS_TABSTOP
  AUTORADIOBUTTON "局域网内远程主机",IDC_REMOTEHOST,10,30,200,14,WS_TABSTOP
  GROUPBOX "远程主机参数",-1,10,50,380,100,BS_GROUPBOX

  LTEXT "主机IP地址：",-1,20,70,50,14
  EDITTEXT IDC_REMOTEIP,80,70,230,14 
  LTEXT "监听端口：",-1,20,90,40,14
  EDITTEXT IDC_REMOTEPORT,80,90,230,14
  LTEXT "超级用户名：",-1,20,110,60,14
  EDITTEXT IDC_REMOTEUSER,80,110,230,14 
  LTEXT "密码：",-1,20,130,30,14
  EDITTEXT IDC_REMOTEPASS,80,130,230,14

  PUSHBUTTON "安装后门",IDC_INSTALLBACKDOOR,280,190,50,14
  PUSHBUTTON "斜载后门",IDC_REMOVEBACKDOOR,335,190,50,14
END

NET_IPFILTER DIALOG 100,10,500,400
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "IP数据包捕捉"
FONT 9,"宋体"
BEGIN

  LTEXT "本地端口：",-1,12,10,100,14
  EDITTEXT IDC_FILTERPORT,60,8,80,14
  PUSHBUTTON "启动捕捉",IDC_STARTCAPTURE,150,8,50,14
  LTEXT "共捕获IP数据包",-1,210,10,100,14
  LTEXT "个",-1,320,10,10,14
  LTEXT "000",IDC_TOTALRECEIVED,300,10,30,14
  LTEXT "已处理IP数据包",-1,350,10,100,14
  LTEXT "个",-1,460,10,10,14
  LTEXT "000",IDC_TOTALDEALED,440,10,30,14


  CONTROL "", IDC_FILTERTABLE, "SysListView32", 13 | WS_CHILD | WS_VISIBLE | WS_BORDER | LVS_REPORT | WS_TABSTOP, 10,30,480,200
  EDITTEXT  IDC_FILTERCONTENT,10,240,480,90,WS_BORDER |WS_VSCROLL|WS_VISIBLE|WS_CHILD|ES_MULTILINE

  LTEXT "缓冲区利用率：",-1,10,335,100,14
  CONTROL "", IDC_BUFFERPROCESS, "msctls_progress32", PBS_SMOOTH |WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,350,480,14
  CHECKBOX "同时保存到文件",IDC_SAVETOFILE,10,375,80,14
END

stringtable discardable
BEGIN
       IDM_NEW "新建文件"
       IDM_OPEN "打开文件"
       IDM_SAVE "保存文件"
       IDM_SAVEAS "另存文件为"
       IDM_PAGESETUP "页面设置"
       IDM_PRINT "打印"
       IDM_EXIT   "退出系统"
       IDM_UNDO  "撤消"
       IDM_REDO  "重做"
       IDM_SELALL "全选"
       IDM_COPY "拷贝"
       IDM_CUT "剪切"
       IDM_PASTE "粘贴"
       IDM_FIND "查找"
       IDM_REPLACE "替换"
       IDM_GO    "转到行"
       IDM_SETFONT "设置字体"
       IDM_SETCOLOR "设置背景颜色"
       IDM_INACT "非激活选项"
       IDM_GRAY "灰色菜单选项"
       IDM_BIG  "大图标"
       IDM_SMALL  "小图标"
       IDM_LIST  "列表"
       IDM_DETAIL  "详细"
       IDM_TOOLBAR   "工具条"
       IDM_TOOLBARTEXT  "工具文本"
       IDM_INPUTBAR   "输入条"
       IDM_STATUSBAR  "状态条"
       IDM_TRANSPARENT "窗口透明度"
       IDM_RES   "生成资源"
       IDM_COMPILE    "编译"
       IDM_LINK "链接"
       IDM_RUN "执行"
       IDM_COMPILEALL "运行一条龙"
       IDM_TERMINATE "进程列表"
       IDM_IPPORT  "IP与端口"
       IDM_TOPWINDOW  "顶层窗口"
       IDM_MODULE  "模块列表"
       IDM_REGISTRY "系统配置实用程序"
       IDM_SHUTDOWN "关闭计算机"
       IDM_REBOOT "重新启动计算机"
       IDM_AUDIOSTART "开始录音"
       IDM_AUDIOPAUSE "暂停录音"
       IDM_AUDIOSTOP "停止录音"
       IDM_AUDIOPLAY "播放WAV文件"
       IDM_CHATSERVER "会话服务器"
       IDM_CHATCLIENT "会话客户"
       IDM_FTPSERVER "FTP服务器"
       IDM_FTPCLIENT "FTP客户"
       IDM_PORTSCAN "端口扫描"
       IDM_TELNETSERVER "TELNET服务后门"
       IDM_HTTPFILTER "IP数据包捕获"
       IDM_HELP  "系统帮助"
       IDM_ABOUT  "关于..."
END




