#include <resource.h>

#define ICO_MAIN  1000
#define DLG_MAIN  1000
#define IDC_INFO  1001
#define IDM_MAIN  2000
#define IDM_OPEN  2001
#define IDM_EXIT  2002


#define IDM_1    4000
#define IDM_2    4001
#define IDM_3    4002
#define IDM_4    4003

#define RESULT_MODULE 5000
#define ID_TEXT1  5001
#define ID_TEXT2  5002
#define IDC_MODULETABLE 5003
#define IDC_OK 5004
#define ID_STATIC 5005
#define ID_STATIC1 5006
#define IDC_BROWSE1 5007
#define IDC_BROWSE2 5008
#define IDC_ADD   5010
#define IDC_DEL   5011
#define ID_TEXT4  5013
#define ID_TEXT5  5014
#define ID_STATIC2 5015
#define ID_STATIC3 5016
#define ID_STATIC4 5017
#define ID_STATIC5 5018
#define IDC_MSGTYPE 5019


ICO_MAIN  ICON  "main.ico"

DLG_MAIN DIALOG 50,50,544,399
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "软件自动安装管理器 by qixiaorui"
MENU IDM_MAIN
FONT 9,"宋体"
BEGIN
   CONTROL "",IDC_INFO,"RichEdit20A",196 | ES_WANTRETURN | WS_CHILD | ES_READONLY
               | WS_VISIBLE |WS_BORDER | WS_VSCROLL | WS_TABSTOP,0,0,540,396
END

RESULT_MODULE DIALOG 76,10,630,440
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "软件自动安装管理器"
FONT 9,"宋体"
BEGIN
  LTEXT "补丁文件：",ID_STATIC,10,13,200,15
  EDITTEXT ID_TEXT1,50,13,520,15
  PUSHBUTTON "浏览...",IDC_BROWSE1,580,13,40,14

  LTEXT "安装程序：",ID_STATIC1,10,35,200,15
  EDITTEXT ID_TEXT2,50,35,520,15
  PUSHBUTTON "浏览...",IDC_BROWSE2,580,35,40,14

  LTEXT "消息类别：",ID_STATIC2,10,60,200,15
  COMBOBOX IDC_MSGTYPE,50,60,570,100,CBS_DROPDOWNLIST |WS_TABSTOP

  LTEXT "按键的值：",ID_STATIC3,10,80,60,15
  EDITTEXT ID_TEXT4,50,80,100,15

  LTEXT "按键延时：",ID_STATIC4,160,80,60,15
  EDITTEXT ID_TEXT5,220,80,100,15
  LTEXT "毫秒",ID_STATIC5,330,80,60,15

  PUSHBUTTON "添加...",IDC_ADD,500,80,40,14
  PUSHBUTTON "清空...",IDC_DEL,580,80,40,14
  

  CONTROL "", IDC_MODULETABLE, "SysListView32",13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,110,610,300  
  
  PUSHBUTTON "打补丁并生成消息发送器...(&R)",IDC_OK,470,420,150,14
END

IDM_MAIN menu discardable
BEGIN
  POPUP "文件(&F)"
  BEGIN
    menuitem "执行补丁...",IDM_OPEN
    menuitem "...",IDM_1
    menuitem "...",IDM_2
    menuitem separator
    menuitem "退出(&x)",IDM_EXIT
  END

END
 